<app-header titulo="Grid"></app-header>

<ion-content padding fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="3" size-sm="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
          <ion-card>
            <ion-img src="/assets/shapes.svg"></ion-img>
            <ion-card-content>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cumque non dicta, debitis minus delectus? Repudiandae, temporibus dolor. Eveniet similique necessitatibus totam asperiores in a, modi nobis aut laudantium quos.
            </ion-card-content>
          </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
