<app-header titulo="Cards"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>

      <ion-card-content>
        Awesome content
      </ion-card-content>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nobis excepturi, atque possimus dolorum deleniti ullam animi esse. Tenetur consequatur libero placeat totam corporis alias quo optio quam sit dicta.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cumque non dicta, debitis minus delectus? Repudiandae, temporibus dolor. Eveniet similique necessitatibus totam asperiores in a, modi nobis aut laudantium quos.
    </ion-card-content>
  </ion-card>

</ion-content>
